out.txt
yagi/
Default/
.cproject
.project
.directory
.settings/
antlr-3.5.2-complete.jar
/YAGI Unit Tests
gtest_bin/
gtest_src/
yagi
/YAGI Unit Tests/
/YAGI Unit Tests/
/YAGI-UnitTests/
doc/
build/
build-*
gtest*
*.user
*build/
*.tar.gz
*.zip
*~
CMakeFiles/
*.so
*.lo
*.o
*.log
*.la
*.status
*.a
.deps/
.libs/
CMakeCache.txt
libantlr3c-3.4/Makefile
libantlr3c-3.4/libtool
libantlr3c-3.4/stamp-h1
cmake_install.cmake
unitTests/Pluma-1.1/
unitTests/Makefile
